@import url(https://fonts.googleapis.com/css?family=Nobile:400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
/******************** Mixins ********************/
/******************** General ********************/
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  cursor: url(../images/cake.cur), auto !important;
  background: url(../images/birthday-bg.jpg) no-repeat center center fixed;
  background-size: cover;
  -webkit-transition: background-image 1.5s ease-in-out;
  transition: background-image 1.5s ease-in-out;
}

::-moz-selection {
  background: #A390E4;
}

::selection {
  background: #A390E4;
}

::-moz-selection {
  background: #A390E4;
}

/******************** Card Front ********************/
#card,
.card-front,
.card-inside {
  height: 580px;
}

#card:not(.opend) {
  /*
    $initial-transform: scale($initial-scale, $initial-scale)
        translateX(-620px) translateY(1150px) rotateX(70deg) translateZ(-100px); // Everything else is for the open animation*/
  -webkit-transform: scale(0.3, 0.3);
  transform: scale(0.3, 0.3) translateX(-620px) translateY(650px) translateZ(-100px);
  opacity: 0.5;
  transition: -webkit-transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out, -webkit-transform 0.7s ease-in-out;
  -moz-transition: -moz-transform 0.7s ease-in-out;
  -webkit-transition: -webkit-transform 0.7s ease-in-out;
}

#card:not(.opend):hover {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  opacity: 1;
}

#card {
  z-index: 100 !important;
  margin: auto;
  position: absolute;
  top: -85px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 550px;
  height: 580px;
  z-index: 1000;
  -webkit-box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.5);
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.5);
  max-width: 960px;
  perspective: 5000px;
  -moz-perspective: 5000px;
  -webkit-perspective: 5000px;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  perspective: 5000px;
  -moz-perspective: 5000px;
  -webkit-perspective: 5000px;
}

#card.opend {
  -webkit-transform: translateX(250px);
          transform: translateX(250px);
  transition: -webkit-transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out, -webkit-transform 0.7s ease-in-out;
  -moz-transition: -moz-transform 0.7s ease-in-out;
  -webkit-transition: -webkit-transform 0.7s ease-in-out;
}

#card button {
  position: absolute;
  bottom: 1em;
  right: -12px;
  background: #7e0b75;
  color: #FFF;
  font-family: 'Nobile', sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 1.5em;
  padding: .5em;
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.4);
  transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -webkit-transition: background 0.5s linear;
}

#card button:focus, #card button:hover {
  background: black;
}

#card .card-front {
  background-color: #F9EAF7;
  background: #F9EAF7;
  background: -webkit-gradient(linear, left top, left bottom, from(#F9EAF7), to(#e29bd9));
  background: linear-gradient(180deg, #F9EAF7, #e29bd9);
  color: #380534;
  transform-origin: left;
  -moz-transform-origin: left;
  -webkit-transform-origin: left;
  transition: -webkit-transform 1s linear;
  transition: transform 1s linear;
  transition: transform 1s linear, -webkit-transform 1s linear;
  -moz-transition: -moz-transform 1s linear;
  -webkit-transition: -webkit-transform 1s linear;
  position: relative;
}

#card .card-front .wrap {
  transition: background 1s linear;
  -moz-transition: background 1s linear;
  -webkit-transition: background 1s linear;
}

#card .card-front:after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  background: url("../images/cover-image.png") no-repeat bottom center;
}

#card .card-front h1 {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#card .card-inside {
  background: #F9EAF7;
  padding: 15px;
  font-size: 1.1em;
  line-height: 1.4;
  font-family: 'Nobile';
  color: #331717;
  font-style: italic;
  transform-origin: left;
  -moz-transform-origin: left;
  -webkit-transform-origin: left;
  transition: -webkit-transform 1s linear;
  transition: transform 1s linear;
  transition: transform 1s linear, -webkit-transform 1s linear;
  -moz-transition: -moz-transform 1s linear;
  -webkit-transition: -webkit-transform 1s linear;
  position: relative;
}

#card .card-inside .wrap {
  -webkit-box-shadow: inset 2px 0 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 2px 0 1px rgba(0, 0, 0, 0.05);
}

#card .card-inside p {
  margin-top: 1em;
}

#card .card-inside p.final-words {
  margin-top: 1.35em;
}

#card .card-inside p:first-child {
  margin-top: 0;
}

#card .card-inside p.signed {
  margin-top: 1.5em;
  text-align: center;
  font-family: 'Dancing Script', sans-serif;
  font-size: 1.5em;
}

#card .card-front,
#card .card-inside {
  width: 100%;
  position: absolute;
}

#card .card-front,
#card .card-inside:not(:first-child) {
  -webkit-box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.5);
}

#card h1 {
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
  font-family: 'Nobile', sans-serif;
  font-style: italic;
  font-size: 70px;
  color: #380534;
  text-shadow: 4px 4px 0px #eec2e8, 1px 1px 0 #e8afe0, 2px 2px 0 #e29bd9, 3px 3px 0 #dd87d1;
}

#card.open-fully .card-front {
  transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
}

#card.open-fully .card-front:after {
  background: none;
}

#card.open-fully .card-front .wrap {
  background-color: rgba(0, 0, 0, 0);
}

#card.open-fully .card-front:after,
#card.close-half .card-front:after {
  background: none;
}

#card.open-half .card-front,
#card.close-half .card-front {
  transform: rotateY(-90deg);
  -moz-transform: rotateY(-90deg);
  -webkit-transform: rotateY(-90deg);
}

#card.open-half .card-front .wrap {
  background-color: rgba(0, 0, 0, 0.5);
}

#card.open-fully .card-front,
#card.close-half .card-front {
  background: #FFEFEF;
}

#card.open-fully .card-front .wrap *:not(button),
#card.close-half .card-front .wrap *:not(button) {
  display: none;
}

#card .back-rotation {
  transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
}

#card.inside-close-half .card-inside:first-child {
  transform: rotateY(-90deg);
  -moz-transform: rotateY(-90deg);
  -webkit-transform: rotateY(-90deg);
}

#card.inside-close-full .card-inside:first-child {
  transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
}

#card.inside-open-half .card-inside:not(:first-child) {
  transform: rotateY(-90deg);
  -moz-transform: rotateY(-90deg);
  -webkit-transform: rotateY(-90deg);
}

#card.inside-open-half .card-inside .wrap:not(:first-child) {
  background-color: rgba(0, 0, 0, 0.5);
}

#card.inside-open-fully .card-inside:not(:first-child) {
  transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
}

#card.inside-open-fully .card-inside:not(:first-child):after {
  background: none;
}

#card.inside-open-fully .card-inside:not(:first-child) .wrap {
  background-color: rgba(0, 0, 0, 0);
}

.notransition {
  -webkit-transition: none !important;
  transition: none !important;
}

/******************** Gift box ********************/
.box-folding {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  -webkit-perspective: 800px;
          perspective: 800px;
  -webkit-perspective-origin: 50% 200px;
          perspective-origin: 50% 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.box-folding .info-text {
  width: 100%;
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 45px;
  color: #eeeafa;
  text-shadow: 4px 4px 0px #9277ec, 1px 1px 0 #a48def, 2px 2px 0 #b6a4f2, 3px 3px 0 #ebe7fc;
  font-weight: 600;
  font-style: italic;
  font-size: 56px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.present-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.present-box {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  width: 200px;
  height: 200px;
  margin: auto;
  -webkit-animation: rotate 11s alternate linear infinite;
          animation: rotate 11s alternate linear infinite;
  cursor: pointer;
}

.present-box:hover {
  -webkit-animation: staticFront 700ms ease forwards;
          animation: staticFront 700ms ease forwards;
}

.present-box.open {
  -webkit-animation: zoomIn 1s ease-in forwards;
          animation: zoomIn 1s ease-in forwards;
  -webkit-transform: rotateX(-103deg) rotateY(-180deg);
          transform: rotateX(-103deg) rotateY(-180deg);
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

.present-box.open .present {
  pointer-events: auto;
  visibility: visible;
}

.present-box.open .present .img-wrap {
  opacity: 1;
  -webkit-transition: opacity 800ms 200ms, -webkit-transform 600ms 800ms;
  transition: opacity 800ms 200ms, -webkit-transform 600ms 800ms;
  transition: transform 600ms 800ms, opacity 800ms 200ms;
  transition: transform 600ms 800ms, opacity 800ms 200ms, -webkit-transform 600ms 800ms;
  -webkit-transform: translateZ(0px);
          transform: translateZ(0px);
}

.present-box.open > .side {
  opacity: .3;
  -webkit-transition: opacity 500ms 600ms;
  transition: opacity 500ms 600ms;
}

.present-box.open > .side.back {
  opacity: 0.7;
  -webkit-transform: translateZ(-101px) rotateY(180deg);
          transform: translateZ(-101px) rotateY(180deg);
}

.present-box.open > .side.front {
  -webkit-transition: opacity 500ms 600ms, -webkit-transform 800ms 0s;
  transition: opacity 500ms 600ms, -webkit-transform 800ms 0s;
  transition: transform 800ms 0s, opacity 500ms 600ms;
  transition: transform 800ms 0s, opacity 500ms 600ms, -webkit-transform 800ms 0s;
  -webkit-transform: translateZ(100px) rotateY(190deg) translateX(0px);
          transform: translateZ(100px) rotateY(190deg) translateX(0px);
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  opacity: 0.3;
}

.present-box .present {
  position: absolute;
  width: 200px;
  height: 200px;
  z-index: 50;
  -webkit-transform: rotateY(-180deg) rotateX(180deg) translateZ(-100px);
          transform: rotateY(-180deg) rotateX(180deg) translateZ(-100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-perspective: 600px;
          perspective: 600px;
  pointer-events: none;
  visibility: hidden;
}

.present-box .present > .img-wrap {
  width: 200px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  opacity: 0;
  -webkit-transform: translateZ(-80px);
          transform: translateZ(-80px);
}

.present-box .present > .img-wrap a {
  -webkit-transition: -webkit-transform 300ms;
  transition: -webkit-transform 300ms;
  transition: transform 300ms;
  transition: transform 300ms, -webkit-transform 300ms;
  position: relative;
  display: block;
  -webkit-transform: scale(0.94);
          transform: scale(0.94);
}

.present-box .present > .img-wrap a:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.present-box .present > .img-wrap img {
  max-width: 100%;
  height: auto;
}

.present-box > .side {
  width: 200px;
  height: 200px;
  position: absolute;
  display: block;
  background: repeating-linear-gradient(45deg, #8167da, #8167da 20px, #e7e2f8 20px, #e7e2f8 40px);
  top: 0;
  left: 0;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}

.present-box > .side.back {
  -webkit-transform: translateZ(-100px) rotateY(180deg);
          transform: translateZ(-100px) rotateY(180deg);
}

.present-box > .side.right {
  -webkit-transform: rotateY(-270deg) translateX(100px);
          transform: rotateY(-270deg) translateX(100px);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.present-box > .side.left {
  -webkit-transform: rotateY(270deg) translateX(-100px);
          transform: rotateY(270deg) translateX(-100px);
  -webkit-transform-origin: center left;
          transform-origin: center left;
}

.present-box > .side.top {
  -webkit-transform: rotateX(-90deg) translateY(-100px);
          transform: rotateX(-90deg) translateY(-100px);
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 100px;
          perspective: 100px;
  text-align: center;
}

.present-box > .side.top .to {
  display: inline-block;
  font-family: cursive;
  position: relative;
  padding: 10px 10px 30px 10px;
  border: 5px dotted #34169a;
  border-width: 2px;
  background: #fff;
  margin: auto;
  -webkit-transform: translateZ(-2px) translateY(50px);
          transform: translateZ(-2px) translateY(50px);
}

.present-box > .side.top .to:after {
  content: 'Happy Birthday';
  display: inline-block;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  color: #34169a;
}

.present-box > .side.top .to .name {
  margin-top: 7px;
  color: #c90d06;
  display: block;
  position: absolute;
  -webkit-transform: translateY(20px) rotateY(180deg) translateX(10px);
          transform: translateY(20px) rotateY(180deg) translateX(10px);
  text-align: center;
  width: 100%;
  font-size: 1.1rem;
}

.present-box > .side.bottom {
  -webkit-transform: rotateX(90deg) translateY(100px);
          transform: rotateX(90deg) translateY(100px);
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}

.present-box > .side.front {
  -webkit-transform: translateZ(100px);
          transform: translateZ(100px);
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotateY(-360deg) rotateX(180deg);
            transform: rotateY(-360deg) rotateX(180deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotateY(-360deg) rotateX(180deg);
            transform: rotateY(-360deg) rotateX(180deg);
  }
}

@-webkit-keyframes staticFront {
  100% {
    -webkit-transform: rotateX(-100deg) rotateY(-180deg);
            transform: rotateX(-100deg) rotateY(-180deg);
  }
}

@keyframes staticFront {
  100% {
    -webkit-transform: rotateX(-100deg) rotateY(-180deg);
            transform: rotateX(-100deg) rotateY(-180deg);
  }
}

@-webkit-keyframes zoomIn {
  50% {
    -webkit-transform: rotateX(-143deg) rotateY(-180deg) translateZ(-15px);
            transform: rotateX(-143deg) rotateY(-180deg) translateZ(-15px);
  }
  100% {
    -webkit-transform: rotateX(-167deg) rotateY(-180deg) translateZ(-15px) scale(1.2);
            transform: rotateX(-167deg) rotateY(-180deg) translateZ(-15px) scale(1.2);
  }
}

@keyframes zoomIn {
  50% {
    -webkit-transform: rotateX(-143deg) rotateY(-180deg) translateZ(-15px);
            transform: rotateX(-143deg) rotateY(-180deg) translateZ(-15px);
  }
  100% {
    -webkit-transform: rotateX(-167deg) rotateY(-180deg) translateZ(-15px) scale(1.2);
            transform: rotateX(-167deg) rotateY(-180deg) translateZ(-15px) scale(1.2);
  }
}

@-webkit-keyframes cardZoomIn {
  25% {
    -webkit-transform: scale(0.3) rotateX(50deg) translateZ(-100px) translateX(-620px) translateY(850px);
            transform: scale(0.3) rotateX(50deg) translateZ(-100px) translateX(-620px) translateY(850px);
    opacity: 0.5;
  }
  50% {
    -webkit-transform: scale(0.3) rotateX(30deg) translateZ(-100px) translateX(-620px) translateY(800px);
            transform: scale(0.3) rotateX(30deg) translateZ(-100px) translateX(-620px) translateY(800px);
    opacity: 0.7;
  }
  75% {
    -webkit-transform: scale(0.3) rotateX(10deg) translateZ(-100px) translateX(-620px) translateY(700px);
            transform: scale(0.3) rotateX(10deg) translateZ(-100px) translateX(-620px) translateY(700px);
    opacity: 0.9;
  }
  100% {
    -webkit-transform: scale(0.3) rotateX(0deg) translateZ(-100px) translateX(-620px) translateY(650px);
            transform: scale(0.3) rotateX(0deg) translateZ(-100px) translateX(-620px) translateY(650px);
    opacity: 1;
  }
}

@keyframes cardZoomIn {
  25% {
    -webkit-transform: scale(0.3) rotateX(50deg) translateZ(-100px) translateX(-620px) translateY(850px);
            transform: scale(0.3) rotateX(50deg) translateZ(-100px) translateX(-620px) translateY(850px);
    opacity: 0.5;
  }
  50% {
    -webkit-transform: scale(0.3) rotateX(30deg) translateZ(-100px) translateX(-620px) translateY(800px);
            transform: scale(0.3) rotateX(30deg) translateZ(-100px) translateX(-620px) translateY(800px);
    opacity: 0.7;
  }
  75% {
    -webkit-transform: scale(0.3) rotateX(10deg) translateZ(-100px) translateX(-620px) translateY(700px);
            transform: scale(0.3) rotateX(10deg) translateZ(-100px) translateX(-620px) translateY(700px);
    opacity: 0.9;
  }
  100% {
    -webkit-transform: scale(0.3) rotateX(0deg) translateZ(-100px) translateX(-620px) translateY(650px);
            transform: scale(0.3) rotateX(0deg) translateZ(-100px) translateX(-620px) translateY(650px);
    opacity: 1;
  }
}

/******************** Transitions ********************/
.fade-enter-active,
.fade-leave-active {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
/*# sourceMappingURL=style.css.map */